* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear-fix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
    color: black;
}

.right {
    display: inline-block;
    text-align: center;
}
/* .red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; } */

/* TOP */

.top {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(assets/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
}

.budget-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget-value {
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

.budget-income, .budget-expenses {
    padding: 12px;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0px 2px 56px -13px rgba(161,161,161,1);
    -moz-box-shadow: inset 0px 2px 56px -13px rgba(161,161,161,1);
    box-shadow: inset 0px 2px 56px -13px rgba(161,161,161,1);
}

.budget-income {
    margin-bottom: 15px;
    background-color: #28B9B5;
}

.budget-expenses {
    background-color: #FF5049;
}

.budget-expenses-percentage {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    text-align: center;
}

/* Bottom */

h2 {
    color: black;
}
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}